.page-title {
    background-color:#333;
    padding-top: 70px;
}

.page-title__contenedor {
    padding-left: 5.3%;
    padding-right: 8%;
    padding-top: 75px;  
    
}
.page-title__pretitle {
    margin-bottom: 16px;
    margin-right: 118px; 
}
.page-title__title {
    margin-bottom: 47px;
}
.page-title__index-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.page-title__index{
    background-color: #FFFFFF;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 12.8px;
}
.text__page-card--home {
    cursor: pointer;
}