.handpicked{
    position: relative;
    top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.handpicked__pretitle{
    margin-bottom: 24px;

}

.handpicked__title{
    margin-bottom: 44px;
}
@media (min-width: 1000px) {
    .handpicked{
        padding-top: 100px;
        z-index: 0;
        padding-bottom: 100px;
    }
    .handpicked__title{
        margin-bottom: 24px;
    }
}