.handpicked{
    position: relative;
    top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.handpicked__pretitle{
    margin-bottom: 24px;

}

.handpicked__title{
    margin-bottom: 44px;
}
