@use "./styles/header/header";
@use "./styles/home/home";
@use "./styles/home/about-us";
@use "./styles/home/rooms";
@use "./styles/home/roomcard";
@use "./styles/home/roomdetail";
@use "./styles/home/video";
@use "./styles/home/menu";
@use "./styles/home/logros";
@use "./styles/swiper/swiper";
@use "./styles/button/button";
@use "./styles/text/text";
@use "./styles/footer/footer";
@use "./styles/titulopagina/titulopagina";
@use "./styles/about/introduccion";
@use "./styles/home/core-features";
@use "./styles/about/counter";
@use "./styles/rooms/rooms-page";
@use "./styles/rooms/offers";
@use "./styles/contact/contact";
html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    min-width: 320px;
}
