.swiper-button-next,
.swiper-button-prev {
    background-color: aqua;
    font-size: 0
}


.swiper--menu{
    max-width: 570px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.swiper--menu__photo .swiper-pagination-bullet {
    background-color: #BEAD8E;
    
}
.swiper-slide--menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%
}

.swiper--menu__photo{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    display: flex;
    max-width: 335px;
}

.swiper--menu__photo-wrapper{
    max-width: 370px;
    max-height: 370px;
    height: auto;
    margin-bottom: 15px;
}
.swiper--core-features{
    display: flex;
    justify-content: center;
    max-width: 375px;
}

.swiper__core-features--dark{
  
    max-width: 375px;
}
.swiper__core-features--dark .swiper-pagination-bullet {
    background-color: #BEAD8E;
}
.swiper__core-features .swiper-pagination-bullet {
    background-color: #BEAD8E;
    
}

.swiper__rooms{
    max-width: 500px;
    width: 100%;
}


.swiper__rooms-wrapper{
    margin-bottom: 32px;
}

.swiper__popular-rooms{

    justify-content: center;
    display: flex;
    max-width: 600px;
}


.swiper-slide--popular-rooms{
    display: flex;
    justify-content: center;

}
