.footer__container{
    background-image: url("./img/Footer/fondo.svg");
    padding-left: 5.3%;
    padding-right: 5.3%;
    padding-top: 32px;
    padding-bottom: 34px;
}

.footer__logo{
    margin-bottom: 48px;
}

.footer__brand-paragraph{
    margin-bottom: 32px;
    max-width: 500px;
}

.footer__social{
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-bottom: 40px;    
}

.footer__services-title{
    margin-bottom: 24px;
}

.footer__list-container{
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-bottom: 32px;
}

.footer__list{
    list-style: none;
}

.footer__contact-title{
    margin-bottom: 34px;
}

.footer__contact-info{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.footer__contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.footer__legal{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5.3%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #F8F8F8;
    justify-content: center;
    text-align: start;
}

@media (min-width: 1000px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__container{
        align-self: center;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4%;
        width: 80%;
        min-width: 950px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 120px;
    }
    .footer__legal{
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: row;
        justify-content: space-between;
    }

}